.sideNav > li {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  border-left: 1px solid gray;
  cursor: pointer;
}

.sideNav > li.active {
  border: unset;
  border-left: 4px solid black;
  background-color: #e55754;
  color: white;
  /* opacity: 0.8; */
}

.description {
  list-style-type: square;
}