body {

}

/* .text { 
  position: relative;
  display: inline-block;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 24px;
  min-width: 300px;
} */

.text::after {
  content: "";
  display: inline-block;
  background-color: #606060;
  /* vertical-align: top; */
  width: 5px;
  height: 55px;
  margin-top: 10px;
  margin-left: 7px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1.5s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
