form label {
    margin-top: 10px;
}

.contact-map {
    margin-top: 1.5em;
}

@media screen and (max-width: 767px) {
    .contact-map {
        height: 25em;
    }
}

@media screen and (min-width: 768px) {
    .contact-map {
        height: 35em;
    }
}

@media screen and (min-width: 1024px) {
    .contact-flex-container {
        display: flex;
        justify-content: space-between;
    }
    .contact-map {
        height: 45.25em;
        width: 22em;
    }
    .contact-container {
        width: 20em;
    }
}

@media screen and (min-width: 1150px) {
    .contact-flex-container {
        justify-content: space-around;
    }
    .contact-map {
        width: 25em;
    }
    .contact-container {
        width: 23em;
    }
}

@media screen and (min-width: 1440px) {
    .contact-main-container {
        max-width: 80em;
        margin-right: auto;
        margin-left: auto;
    }
    .contact-map {
        width: 30em;
    }
    .contact-container {
        width: 28em;
    }
}