:root {
    --font-color: #000;
    --background-color: #fff;
    --link-color: #000;
    --name-header-color: #dc2626;
    --contact-input: #fff;
    --input-border: 1px solid #333;
}

[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: #fff;
    --name-header-color: #dc2626;
    --contact-input: #444;
    --input-border: 1px solid #eee;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    transition: 0.8s;
}

a {
    color: var(--link-color);
}

h1 span.dm-name-header {
    color: var(--name-header-color);
}

/* Dark Mode Toggler  */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* .toggle-theme-wrapper span {
    font-size: 28px;
    margin: 0 4px;
  } */

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 50px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.slider::before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 24px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    width: 24px;
}

input:checked + .slider::before {
    transform: translateX(21.5px);
}

input:checked + .slider {
    background-color: salmon;
}

.slider.round {
    border-radius: 33px;
}

.slider.slider.round::before {
    border-radius: 50%;
}

/* contact */
form.contact-form label {
    color: var(--font-color);
}

label input,
label textarea {
    background-color: var(--contact-input);
    border: var(--input-border);
    padding: 5px;
}

label input:focus,
label textarea:focus {
    background-color: white;
    outline: 1px solid tomato;
}

#job-desc {
    border: none;
    outline: none;
    background-color: inherit;
}

/* fix media query below to max-width of 1024px when toggleTheme is fixed in topnav */
@media screen and (max-width: 1500px) {
    .toggle-theme {
        height: 18px;
        width: 30px;
    }
    .slider::before {
        height: 14px;
        /* left: -8px; */
        width: 14px;
    }
    input:checked + .slider::before {
        transform: translateX(12px);
    }
}