#slide_nav {
  width: 100%;
  height: 60px;
  font-size: 42px;
  margin-top: 20px;
}

#slide_nav_button {
  width: 90px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hamburgerList {
  display: none;
  padding: 0px;
  margin: 0px;
  width: 200px;
  height: 90%;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
}

#slide_menu li {
  border-bottom: 1px dotted lightgray;
}

#slide_menu li:hover {
  width: 200px;
  background-color: red;
  box-shadow: inset 0px 0px 50px 0px #848484;
}

#slide_menu li a {
  line-height:50px;
  color: gray;
  text-decoration: none;
  font-size: 18px;
  font-family: helvetica;
  padding-left: 5px;
}
#slide_menu li:hover a {
  padding-left: 20px;
  color: white;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
